body {
    background-color: #063c38;
}


h1 {
    color: rgb(126, 92, 92);
    border-width: 1;
    border-color: rgb(126, 149, 24);
    border-style: solid;
    border-radius: 20px;
    width: 50%;
    text-align: center;
}

h2 {
    color: rgb(204, 45, 90);
}